*:root{
    scroll-behavior: smooth;
}
/* index.css or App.css */

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1) rotate(0deg);
  }
  25% {
    transform: translate(40px, -60px) scale(1.1) rotate(10deg);
  }
  50% {
    transform: translate(-30px, 20px) scale(0.9) rotate(-10deg);
  }
  75% {
    transform: translate(20px, 40px) scale(1.05) rotate(5deg);
  }
  100% {
    transform: translate(0px, 0px) scale(1) rotate(0deg);
  }
}

.animate-blob {
  animation: blob 12s infinite ease-in-out;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}
